#control-panel-container {
    -fx-background-color: white;
    -fx-pref-width: 350;
    -fx-border-color: transparent transparent transparent #252320  ;
    -fx-border-style: solid;

}
#map-pane{
    -fx-background-color: white;
}
#panel-name{
    -fx-font-size: 30px;
    -fx-font-family: "Ubuntu", "FreeSans", "Liberation Sans";
    -fx-fill: #252320;
    -fx-font-smoothing-type: gray;
}
#port-name{
    -fx-font-size: 20px;
    -fx-font-family: "Ubuntu", "FreeSans", "Liberation Sans";
    -fx-fill: #252320;
    -fx-font-smoothing-type: gray;
}
.airport-button{
    -fx-min-width: 20px;
    -fx-max-width: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/airport.png");
    -fx-padding: 0px;
    -fx-background-insets: 0px;
}
.airport-button:hover{
    -fx-background-color: aqua;
}
.seaport-button{
    -fx-min-width: 20px;
    -fx-max-width: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/DockII.png");
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}
.seaport-button:hover{
    -fx-background-color: brown;
}
.civilian-ship{
    -fx-min-width: 20px;
    -fx-max-width: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-background-color: transparent   ;
    -fx-background-image: url("../resources/ship.png");
    -fx-background-size: cover;
    /*-fx-rotate: 90deg;*/

}
.civilian-ship:hover{
-fx-background-color: rgba(88, 104, 70, 0.6);

 }
.civilian-plane{
      -fx-min-width: 20px;
      -fx-max-width: 20px;
      -fx-min-height: 20px;
      -fx-max-height: 20px;
      -fx-background-color: transparent   ;
      -fx-background-image: url("../resources/airplane_l.png");
      -fx-background-size: cover;
      /*-fx-rotate: 90deg;*/
  }
.civilian-plane:hover{
    -fx-background-color: rgba(88, 104, 70, 0.6);

}